.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}


.form {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;


}
.form-header {
    border-style: double;
    border-color: black;
    text-align: center;
    font-size: 2rem;
    flex: 1;
    padding-top: 80px;
    max-width: 1000px;
    
   
}
.card {
    font-size: 1rem;
    border-style: double;
    border-color: black;
    text-align: center;
    flex: 1;
    height: 100vh;
    padding-left: 20%;
    padding-right: 20%;

}
label{
    float: left;
    width: 150px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
input{
    width:300px

}

#content{
    height: 100px;
    text
}


@media screen and (max-width: 768px) {

    main{
      flex-direction: column;
    }
  
  }
  